
body{
    width: 800px;
    margin: auto;
    border: 1px solid #eee;
    padding: 5px;
    font-family: arial, "Microsoft YaHei", sans-serif;
}
span {
    margin-right: 30px;
}
strong {
    margin-right: 10px;
}
p > strong:after {
    content: "\a";
    white-space: pre;
}